@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");

.about-main-title {
  font-family: "Instrument Serif", serif;
  text-transform: uppercase;
}
.heading {
  -webkit-text-stroke: 1px black; /* Standard */
  color: transparent;
}
