@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap");

.explore-main-title {
  font-family: "Instrument Serif", serif;
  text-transform: uppercase;
}
.explore-paragraph {
  font-family: "Gothic A1", sans-serif !important;
}
.all-post-title {
  position: relative;
  font-stretch: ultra-condensed;
  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 50%;
  }
  &::after {
    left: 10px;
    width: 70px;
    height: 3.5px;
    border-radius: 10px;
  }
}
