@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap");

:root {
  --primary-color-dark: #111827;
  --primary-color-light: #f3f4f6;
  --secondary-color: #1f69ef;
}
html {
  scroll-behavior: smooth !important;
  font-family: "Gothic A1", sans-serif;
}
body {
  overflow-x: hidden !important;
  background-color: var(--primary-color-light);
}
/* .swal-modal,
.swal-icon,
.swal-icon::before,
.swal-icon::after,
.swal-icon--success__hide-corners {
  background: #1c1e24;
}

.swal-icon--success {
  border-color: green;
}
.swal-icon--success__line {
  background: green;
}
.swal-icon--success__ring {
  border-color: green;
}
.swal-title,
.swal-text {
  color: #d1d1d1;
  letter-spacing: 1px;
}
.swal-button--confirm {
  background: #292c33;
  color: #d1d1d1 !important;
}
.swal-button--confirm:hover {
  background: #464b55 !important;
}
.swal-icon--info::before,
.swal-icon--info::after {
  background: white;
}
.swal-content__input {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
  letter-spacing: 0.05em;

  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.8rem;
} */
