@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #fff;
  --secondary-color: #11cbff;
}
html {
  scroll-behavior: smooth !important;
  font-family: "Gothic A1", sans-serif;
}
body {
  overflow-x: hidden !important;
  background-color: var(--primary-color);
}

/* .swal-modal,
.swal-icon,
.swal-icon::before,
.swal-icon::after,
.swal-icon--success__hide-corners {
  background: #1c1e24;
}

.swal-icon--success {
  border-color: green;
}
.swal-icon--success__line {
  background: green;
}
.swal-icon--success__ring {
  border-color: green;
}
.swal-title,
.swal-text {
  color: #d1d1d1;
  letter-spacing: 1px;
}
.swal-button--confirm {
  background: #292c33;
  color: #d1d1d1 !important;
}
.swal-button--confirm:hover {
  background: #464b55 !important;
}
.swal-icon--info::before,
.swal-icon--info::after {
  background: white;
}
.swal-content__input {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
  letter-spacing: 0.05em;

  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  border-width: 1px;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.8rem;
} */
h1 {
  font-size: clamp(2.113rem, 1.9252rem + 0.9390000000000001vw, 3.052rem);
}
h2 {
  font-size: clamp(
    1.699rem,
    1.5506000000000002rem + 0.7419999999999998vw,
    2.441rem
  );
}
h3 {
  font-size: clamp(1.35rem, 1.2294rem + 0.603vw, 1.953rem);
}
h4 {
  font-size: clamp(
    1.253rem,
    1.1909999999999998rem + 0.31000000000000005vw,
    1.563rem
  );
}
h5 {
  font-size: clamp(
    1.063rem,
    1.0255999999999998rem + 0.18700000000000006vw,
    1.25rem
  );
}
h6 {
  font-size: clamp(
    1.063rem,
    1.0255999999999998rem + 0.18700000000000006vw,
    1.25rem
  );
}
