@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.nav {
  font-weight: 900;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.527);
  font-family: "Quicksand", sans-serif;
  a {
    font-weight: 600;
  }
}
.search-navbar {
  font-weight: 500;
  letter-spacing: 1px;
}
