.user-registration-form,
.user-login-form {
  padding: 30px;

  button[type="submit"] {
    span {
      transition: all 0.3s ease-in-out;
      &:hover {
        background: linear-gradient(45deg, #ff00cc, #4242ac);
      }
    }
  }
}
.user-registration-heading,
.user-login-heading {
  position: relative;
  font-stretch: ultra-condensed;
  text-align: center;
  font-weight: bold;
}
